<template>
  <div class="apollo-example">
    <ApolloQuery :query="require('../graphql/TableData.gql')">
      <ApolloSubscribeToMore
        :document="require('../graphql/TableDataAdded.gql')"
        :update-query="onTableDataAdded"
      />

      <div slot-scope="{ result: { data } }">
        <template v-if="data">
          <gl-table :items="data.tableData" :fields="fields">
            <template #head(column_one)>
              <div>Column One</div>
              <!-- This is the column head for the first object in `fields` -->
            </template>

            <template #cell(column_one)>
              This is the template for column data belonging to the first object
            </template>
          </gl-table>
        </template>
      </div>
    </ApolloQuery>
    <ApolloMutation
      :mutation="require('../graphql/AddDataToTable.gql')"
      :variables="{
        input: {
          firstName: firstName,
          lastName: lastName
        }
      }"
      class="form"
      @done="
        firstName = '';
        lastName = '';
      "
    >
      <template slot-scope="{ mutate }">
        <form v-on:submit.prevent="formValid && mutate()">
          <label for="field-message" style="padding: 20px 20px 0 0"
            >First Name:</label
          >
          <input
            id="field-message"
            v-model="firstName"
            placeholder="Enter first name"
            class="input"
          />
          <label for="field-message" style="padding: 20px 20px 0 20px"
            >Last Name:</label
          >
          <input
            id="field-message"
            v-model="lastName"
            placeholder="Enter last name"
            class="input"
            style="margin-right:10px;"
          />
          <input type="submit" />
        </form>
      </template>
    </ApolloMutation>
  </div>
</template>

<script>
import { GlTable } from "@gitlab/ui";

export default {
  components: {
    GlTable
  },
  data() {
    return {
      fields: ["firstName", "lastName"],
      name: "Anne",
      firstName: "",
      lastName: ""
    };
  },
  computed: {
    formValid() {
      return this.firstName && this.lastName ? true : false;
    }
  },
  methods: {
    onTableDataAdded(previousResult, { subscriptionData }) {
      return {
        tableData: [
          ...previousResult.tableData,
          subscriptionData.data.tableDataAdded
        ]
      };
    }
  }
};
</script>
